@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #212326;
    color: white;
}

.principal{
    min-height: 100vh;
    width: 95%;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: repeat(7,1fr);
}

/*Partie de gauche*/

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color:#303137;
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: #363940;
}

.left-content{
    padding: 1rem 3rem;
}
.profile{
    width: 100%;
    border-bottom: .5px solid white;
    padding: 0 4rem;
}

.profile img{
    width: 100%;
    border-radius: 50%;
    border: 4px solid green;
}

.name{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1.2rem;
}

.main-title{
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 3rem;
}

.contact-info ul{
    padding: 2rem 0;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
}

.contact-info ul li {
    color: green;
}

.contact-info ul li a{
    color: green;
    text-decoration: none;
    padding-right: 1rem;
}
.contact-info ul li p{
    padding-left : 1rem;
    font-size: 1.1rem;
    color: white;
}

.sub-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skills ul{
    padding: 1.5rem 0;
}

.skills ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: green; 
}

.skills ul li p{
    color: white;  
    padding-left: 1rem;  
}


/*Partie de droite*/

.main-content-right{
    padding: 2rem 3rem;
}

.sect{
    padding-bottom: 2rem;
}

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    content: "";
    position: absolute;
    width: 80%;
    height: .3rem;
    background-color: green;
    right: 0;
    transform: translateY(-50%);
    top:25%
}

.about{
    line-height: 1.6rem;
    font-size: 1.1rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #94969c;
}

.tl-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .9rem;
    height: .9rem;
    background-color: green;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

.hobbies ul {
    padding: 1.5rem 0;
}

.hobbies ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: green; 
}

.hobbies ul li p{
    color: white;  
    padding-left: 1rem;  
}
/*Media Querries*/

@media (max-width: 1290px) {

    .principal{
        grid-template-columns: none;
    }

    .left-section{
        grid-column: span 5;
    }

    .profile img{
        width: auto;
    }
}

@media (max-width: 710px) {
    .right-title::after{
        width: 60%;
    }
}
